.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.cell {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: blue;
}

.cell:hover {
    background-color: #8383d5;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #4caf50;
}

.red {
    background-color: #f44336;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button {
    background-color: #007bff;
}

.start-button:disabled {
    background-color: #8bb5e3;
}

.reset-button {
    background-color: #ff0000;
}

.start-button:hover {
    background-color: #0056b3;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    font-size: 18px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.close-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #bbb;
}
